@font-face {
  font-family: "sofia";
  src: url("../fonts/SofiaSansSemiCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "sofia";
  src: url("../fonts/SofiaSansSemiCondensed-SemiBold.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "sofia";
  src: url("../fonts/SofiaSansSemiCondensed-Bold.ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "sofia";
  src: url("../fonts/SofiaSansSemiCondensed-ExtraBold.ttf");
  font-weight: 700;
  font-style: normal; }
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/* Links */
a,
a:link,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

/* Common */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit; }

ul,
ul li {
  list-style: none; }

img {
  vertical-align: top; }

img,
svg {
  max-width: 100%;
  height: auto; }

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input::-ms-clear {
  display: none; }

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer; }

input:focus,
input:active,
button:focus,
button:active {
  outline: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto; }

body {
  overflow-x: hidden;
  font-family: "sofia";
  font-style: normal;
  font-weight: 400;
  color: #000;
  font-size: 16px; }

.main {
  overflow-x: hidden;
  margin-top: 112px; }

.header {
  background: url("../img/header-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 35px 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  top: 0; }
  .header__burger {
    display: none; }
  .header__socials {
    display: flex;
    gap: 10px; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; }
  .header__nav {
    display: flex;
    align-items: center;
    gap: 30px; }
    .header__nav-item {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
      border-bottom: 1px solid transparent;
      transition: 200ms ease all; }
      .header__nav-item:hover {
        border-color: #fff; }
  .header__contacts {
    display: flex;
    align-items: center;
    gap: 15px; }
  .header__tel {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;
    color: #fff;
    font-weight: 500; }

.btn {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  transition: 300ms ease all;
  background: #2c2d31;
  padding: 18px 30px;
  border-radius: 12px;
  display: inline-block;
  text-align: center; }
  .btn:hover {
    background: #000; }

section {
  padding-top: 60px; }

.hero {
  background: url("../img/hero-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-top: 127px;
  padding-bottom: 170px; }
  .hero__title {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 38px; }
  .hero__desc {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 45px; }

.title {
  text-align: center;
  padding-bottom: 40px;
  font-size: 30px;
  color: #2c2d31;
  font-weight: 700; }

.features__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  grid-column-gap: 60px; }
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px; }

.product-item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
.product-item__img {
  height: 313px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 20px; }
.product-item__colors {
  display: block;
  margin: 0 auto 15px; }
.product-item__title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px; }
.product-item__spec {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px; }
  .product-item__spec--num {
    flex-direction: row;
    align-items: center;
    justify-content: center; }
.product-item__price {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px; }
.product-item .actual-price {
  font-size: 20px;
  font-weight: 500; }
.product-item .old-price {
  color: #a2a2a2;
  font-size: 15px;
  display: inline-block;
  margin-left: 10px;
  position: relative; }
  .product-item .old-price::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #ff6e6e;
    position: absolute;
    top: 50%;
    transform: rotate(-10deg); }
.product-item .btn-product {
  min-width: 190px; }

.slider {
  overflow-x: hidden; }
  .slider .swiper-slide {
    height: auto; }

.slider-container {
  position: relative; }
  .slider-container .slider__prev,
  .slider-container .slider__next {
    position: absolute;
    top: calc(50% - 21px); }
    .slider-container .slider__prev img,
    .slider-container .slider__next img {
      width: 42px; }
  .slider-container .slider__prev {
    left: -85px; }
  .slider-container .slider__next {
    right: -85px; }

.products__banner {
  background: url("../img/banner-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }
  .products__banner-text {
    padding: 45px 0; }
  .products__banner-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 150px; }
  .products__banner-title {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px; }
  .products__banner p {
    font-size: 20px; }
  .products__banner-price {
    padding: 35px 0;
    font-size: 35px;
    font-weight: 500; }
.products .products__slider {
  margin-top: 50px;
  margin-bottom: 50px; }

.trust {
  padding-bottom: 15px; }
  .trust__container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .trust__info {
    max-width: 330px; }
    .trust__info-title {
      font-size: 25px;
      font-weight: 700;
      padding-bottom: 8px; }
    .trust__info p {
      font-weight: 700; }
  .trust__slider {
    max-width: 400px;
    overflow-x: hidden; }
    .trust__slider-container {
      position: relative; }
    .trust__slider-prev {
      position: absolute;
      top: calc(50% - 21px);
      left: -80px; }
      .trust__slider-prev img {
        width: 42px; }
    .trust__slider-next {
      position: absolute;
      top: calc(50% - 21px);
      right: -80px; }
      .trust__slider-next img {
        width: 42px; }

.about iframe {
  margin: 0 auto;
  display: block;
  width: 615px;
  height: 360px;
  border-radius: 14px; }

.reviews__slider {
  overflow-x: hidden; }
.reviews__container {
  position: relative; }
.reviews__prev {
  position: absolute;
  top: calc(50% - 21px);
  left: -80px; }
  .reviews__prev img {
    width: 42px; }
.reviews__next {
  position: absolute;
  top: calc(50% - 21px);
  right: -80px; }
  .reviews__next img {
    width: 42px; }
.reviews__slide {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }
  .reviews__slide-rate {
    display: block;
    margin: 0 auto 15px; }
  .reviews__slide p {
    padding-bottom: 15px;
    text-align: center; }
  .reviews__slide-name {
    font-weight: 600; }

.marketplace {
  padding-bottom: 20px; }
  .marketplace__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px; }

.footer {
  color: #fff;
  background: url("../img/footer-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 30px; }
  .footer a {
    color: #fff; }
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 70px; }
  .footer__mess-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px; }
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center; }
  .footer__item {
    font-weight: 700;
    margin-bottom: 3px; }
    .footer__item a:hover {
      text-decoration: underline; }
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px; }
    .footer__info .copyright {
      font-size: 20px;
      font-weight: 700; }
    .footer__info .politic {
      font-weight: 700;
      border-bottom: 1px solid #fff;
      transition: 200ms ease all; }
      .footer__info .politic:hover {
        border-color: transparent; }
    .footer__info .dev {
      font-weight: 700; }
      .footer__info .dev a {
        border-bottom: 1px solid #fff;
        transition: 200ms ease all; }
        .footer__info .dev a:hover {
          border-color: transparent; }
      .footer__info .dev img {
        display: inline-block;
        margin-left: 10px; }

@media (max-width: 1365px) {
  .container {
    max-width: 960px;
    padding-left: 15px;
    padding-right: 15px; }

  .header__burger {
    display: flex;
    width: 35px;
    flex-direction: column;
    padding: 5px 0;
    gap: 6px;
    margin-left: 10px; }
    .header__burger span {
      width: 100%;
      display: inline-block;
      background: #fff;
      height: 2px;
      min-height: 2px;
      border-radius: 4px;
      transition: 200ms ease all;
      position: relative; }
    .header__burger--active span:nth-child(2) {
      opacity: 0; }
    .header__burger--active span:nth-child(1) {
      transform: rotate(45deg);
      top: 7px; }
    .header__burger--active span:nth-child(3) {
      transform: rotate(-45deg);
      top: -8px; }

  .header__nav {
    display: none; }

  .products__banner-container {
    gap: 50px; }
    .products__banner-container img {
      max-width: 45%; }

  .slider-container .slider__prev {
    left: -55px; }

  .slider-container .slider__next {
    right: -55px; }

  .hero {
    padding-top: 110px;
    padding-bottom: 120px; }

  .header--active .header__nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    align-items: flex-start;
    left: 0;
    padding: 25px;
    background: url("../img/header-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
    top: 90px; } }
@media (max-width: 1099px) {
  .container {
    max-width: 720px; }

  .features__grid {
    grid-column-gap: 30px; }

  .products__banner-container {
    flex-direction: column;
    gap: 0;
    align-items: center; }

  .products__banner-container img {
    max-width: 100%;
    width: 100%; }

  .trust__container {
    flex-direction: column;
    align-items: center;
    gap: 40px; }

  .trust__info {
    text-align: center; }

  .slider-container,
  .reviews__container {
    padding: 0 50px; }

  .slider-container .slider__prev,
  .reviews__prev {
    left: -20px; }

  .slider-container .slider__next,
  .reviews__next {
    right: -20px; }

  .marketplace__grid {
    gap: 40px; } }
@media (max-width: 767px) {
  .container {
    max-width: 100%; }

  .features__grid {
    grid-template-columns: repeat(2, 1fr); }

  .slider-container,
  .reviews__container {
    padding: 0 80px; }

  .slider-container .slider__prev,
  .reviews__prev,
  .trust__slider-prev {
    left: 0; }

  .slider-container .slider__next,
  .reviews__next,
  .trust__slider-next {
    right: 0; }

  .trust__slider-container {
    padding: 0 80px; }

  .about iframe {
    width: 100%; }

  .footer__top {
    flex-direction: column;
    gap: 15px; }

  .header__socials {
    display: none; }

  .main {
    margin-top: 90px; }

  .footer__info .copyright {
    text-align: center; } }
@media (max-width: 479px) {
  .header__tel {
    font-size: 14px; }

  .header__logo img {
    max-width: 120px; }

  .hero {
    padding-top: 80px;
    padding-bottom: 60px; }

  .hero__title {
    font-size: 45px;
    padding-bottom: 20px; }

  .slider-container,
  .reviews__container,
  .trust__slider-container {
    padding: 0 40px; }

  .slider-container .slider__prev,
  .reviews__prev,
  .trust__slider-prev {
    top: calc(50% - 15px); }
    .slider-container .slider__prev img,
    .reviews__prev img,
    .trust__slider-prev img {
      max-width: 30px; }

  .slider-container .slider__next,
  .reviews__next,
  .trust__slider-next {
    top: calc(50% - 15px); }
    .slider-container .slider__next img,
    .reviews__next img,
    .trust__slider-next img {
      max-width: 30px; }

  .products__banner-title {
    font-size: 30px; }

  .marketplace__grid img {
    max-width: 60px; } }
.modal a.close-modal {
  display: none; }

.modal {
  padding: 45px;
  max-width: 850px;
  border-radius: 50px; }
  .modal .modal__close {
    position: absolute;
    right: 20px;
    top: 20px; }

.blocker {
  z-index: 12; }

.product-item__fancybox {
  outline: none; }

.hidden-images {
  display: none; }

.modal-product__title {
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px; }

.modal-product__group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px; }

.modal-product__image {
  width: 230px; }

.modal-product__info {
  flex: 1; }

.modal-product__info-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px; }

.modal-product__info-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px; }

.modal-product__item-title {
  margin-bottom: 5px; }

.modal-product__item-val {
  font-size: 20px; }

.modal-product__item-count {
  display: flex;
  align-items: center;
  gap: 4px; }
  .modal-product__item-count input {
    width: 50px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #000;
    padding: 2px 5px; }

.modal-product__article {
  margin-top: 30px; }

.modal-form {
  max-width: 256px;
  margin: 40px auto 20px; }

.form-group__title {
  text-align: center;
  margin-bottom: 4px;
  font-weight: 500; }

.input__field {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #7b7b7b;
  text-align: center;
  padding: 8px 5px;
  font-size: 16px; }

.form-group {
  margin-bottom: 15px; }

.form-submit {
  display: block !important;
  margin: 0 auto; }

.form-note {
  font-size: 12px;
  color: #7b7b7b;
  text-align: center; }
  .form-note a {
    color: #7b7b7b;
    text-decoration: underline; }

@media (max-width: 989px) {
  .modal-product__group {
    flex-direction: column;
    align-items: center; } }
@media (max-width: 767px) {
  .modal {
    border-radius: 30px; }

  .modal-product__title {
    font-size: 30px; }

  .modal-product__info-title {
    font-size: 20px; }

  .modal-product__info-group {
    flex-direction: column;
    gap: 15px; }

  .modal-product__item {
    width: 100%;
    border-bottom: 1px solid #2c2d31;
    padding-bottom: 15px; } }
@media (max-width: 479px) {
  .blocker {
    padding: 0; } }

/*# sourceMappingURL=index.css.map */
